<h1>Log In</h1>

<%= form_for @astrophotographer, url: '/login' do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>
 
    <%= f.label :Password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In" %>

<% end %>
<%= link_to "signup", signup_path %>
<%= link_to "home", root_path %>

