<!--
<h1>Log In</h1>

<%= form_for :astrophotographer do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>
 
    <%= f.label :Password %>
    <%= f.password_field :password %>
    <br><br>

    <%= f.submit "Log In" %>

<% end %>
<%= link_to "signup", signup_path %>
<%= link_to "home", root_path %>
-->
