
<h1>Welcome Back!</h1>
<%=form_for :astrophotographer do |f|%>
    <%=f.label :username%>
    <%=f.text_field :username%>
    <br><br>
    <%=f.label :Password%>
    <%=f.password_field :password%>
    <br><br>
    <%=f.submit 'Login'%> <%=button_to 'Login with Google', '/auth/google_oauth2'%>
<%end%> 

<style>
.flash-error {
    color: red;
}
</style>