<h1>Log In</h1>
<%=form_for :astrophotographer do |f|%>
    <%=f.label :username%>
    <%=f.text_field :username%>
    <br><br>
    <%=f.label :Password%>
    <%=f.password_field :password%>
    <br><br>
    <%=f.submit 'Login'%>
<%end%> 

<%=button_to 'Log in with Google', '/auth/google_oauth2'%>