<div>
<h1>Welcome Back!</h1>
<%=form_for :astrophotographer do |f|%>
    <%=f.label :username%>
    <%=f.text_field :username%>
    <%=f.label :Password%>
    <%=f.password_field :password%>
    <%=f.submit 'Login'%> 
<%end%>
</div>
<br>
<div>
<%=button_to 'Login with Google', '/auth/google_oauth2'%>
</div>
<style>
.flash-error {
    color: red;
}
</style>