
<div class="flash-message">
<%=flash[:message] if flash[:message]%>
</div>
<h1>Welcome to Stagazing!</h1>
    <%=form_for :astrophotographer do |f|%>
        <%=f.label :username%>
        <%=f.text_field :username%>
        <%=f.label :Password%>
        <%=f.password_field :password%>
        <%=f.submit "Signup"%>
    <%end%> 


<style>
.message {
    color: green;
}
</style>

<% if flash[:message].present?%>
<div id="flash-messgae" style=border: 1px, solid red; color; red; padding: 10px">