<%=link_to "Astrophotographers", astrophotographers_path(@constellation)%>|
<%=link_to "Constellations", constellations_path(@constellation)%>|
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%>

<%=link_to "Home", root_path%>
<%=link_to "Astrophotographers", astrophotographers_path%> | <%=link_to "Constellations", constellations_path(@constellation)%>
<h2><%=@astrophotographer.username.capitalize%></h2>
<img src="<%=@astrophotographer.profile_image%>"/>
<p><strong>About</strong> <%=@astrophotographer.bio%></p>

<%if current_user%>
    <%=link_to "Edit profile", edit_astrophotographer_path(@astrophotographer)%>
<%end%>

<style>
img {
height: 150px;
 width: 100 px
}
</style>