
<%=link_to "Home", root_path%>
<%=link_to "back to Astrophotographers", astrophotographers_path%>
<h2>About <%=@astrophotographer.username.capitalize%></h2>

<%=image_tag @astrophotographer.profile_image%>
<h2>Bio <h2><%=@astrophotographer.bio%></h2></h2>

<% if current_user%>
    <%= link_to "Edit profile", edit_astrophotographer_path(@astrophotographer)%>
<%end%>
<br><br>



<style>
img {
height: 150px;
 width: 100 px
}
</style>