
<%=link_to "Home", root_path%>
<%=link_to "back to Astrophotographers", astrophotographers_path%>
<h2>About <%=@astrophotographer.username.capitalize%></h2>
<img src="<%=@astrophotographer.profile_image%>"/>
<br><br>
    <%=link_to "Edit profile", edit_astrophotographer_path(@astrophotographer)%>



<style>
img {
height: 150px;
 width: 100 px
}
</style>