

<%= link_to "Home", root_path %> |
<%= link_to "Astrophotographers", astrophotographers_path(@astrophotographer) %> |
<%= link_to "Constellations", constellations_path(@constellation) %> |
<%= link_to "Add a Constellation", new_constellation_path(@constellation) %>



<h2><%= @astrophotographer.username.capitalize %></h2>
 <p><img src="<%=@astrophotographer.profile_image %>"/></p>
<p><strong>About</strong> <%=@astrophotographer.bio %></p>

<p>
<%= link_to "back", astrophotographers_path(@astrophotographers) %> 
</p>

    <% if current_user == @astrophotographer %>
        <%= link_to "Edit profile", edit_astrophotographer_path(@astrophotographer) %>
<% end %>

<style>
img {
 width: 600px;
height: 500px;
}
</style>