<h1>New Constellation</h1> 

<%= form_for @constellation do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
 </div>
<br>
 <div>
    <%= f.label :description %>
    <%= f.text_area :description  %>
</div>
<br>
<div>
    <%= f.label :light_years_away_from_earth %>
    <%= f.text_field :light_years_away_from_earth %>
</div>
<br>
<div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url  %>
</div>
<br>
    <%= f.submit "Add Constellation" %>

<% end %>
