<h1>New Constellation</h1> 

<%= form_for @constellation do |f| %>

    <%= f.label :Name %>
    <%= f.text_field :name %>
 
    <%= f.label :Description %>
    <%= f.text_field :Description  %>

    <%= f.label :light Years Away from Earth %>
    <%= f.text_field :Light Years Away from Earth %>

     <%= f.label :Image URL %>
    <%= f.text_field :Image URL  %>


    <%= f.submit %>

<% end %>
