
    <p><strong>Constellation Name:</strong> <%=@constellation.constellation_name%></p>
    <p><strong>Star Name:</strong> <%=@constellation.star_name%></p>
    <p><%=image_tag @constellation.image_url%></p>
    <p><strong>Description:</strong> <%= @constellation.description%></p>
    <p><strong>Light Years Away from Earth:</strong> <%=@constellation.light_years_away_from_earth%></p>
    <%=link_to "Edit", edit_constellation_path(@constellation)%>
        <%=button_to "Delete", constellation_path(@constellation), method: :delete%>
    <br><br>
    <%=link_to "Add Stargazing", new_constellation_stargazing_path(@constellation)%> |
   
    <%=link_to "Back to Constellations", constellations_path(@constellation)%>



<style>
    img {
    height: 400px;
    width: 200 px
    }
</style>