<%=link_to "Home", root_path%> |
 <%=link_to "Back to Constellations", constellations_path(@constellation)%> |
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%> |

<%=link_to "Astrophotographers", astrophotographers_path%> 

    <p><strong>Constellation Name:</strong> <%=@constellation.constellation_name%></p>
    <p><strong>Star Name:</strong> <%=@constellation.star_name%></p>
     <p><img src="<%=@constellation.image_url%>"/></p>
  
    <p><strong>Description:</strong> <%= @constellation.description%></p>
    <p><strong>Light Years Away from Earth:</strong> <%=@constellation.light_years_away_from_earth%></p>
    
    <%=link_to "Edit", edit_constellation_path(@constellation)%> | <%=link_to "Delete", constellation_path(@constellation), method: :delete%> |  <%=link_to "Add a Stargazing", new_stargazing_path(@stargzing)%> 


<style>
    img {
    height: 400px;
    width: 200 px
    }
</style>