<h1>List of all Astrophotographer Constellations</h1>
<%=link_to "All Constellations", constellations_path%>
   <%=@constellation.name%>
    <p>Image URL: <%= @constellation.image_url%></p>
    <p>Description: <%= @constellation.description%></p>
    <p>Light Years Away from Earth: <%=@constellation.light_years_away_from_earth%></p>
<%=link_to "Edit", edit_constellation_path(@constellation)%>
<%=link_to "Delete", constellation_path(@constellation), method: :delete%>
<br><br>
<%=link_to "Add a Constellaton and Stargazing", new_constellation_path(@constellation)%>


