<h1>Show List</h1>
<%= link_to "Home", constellations_path %>

    <p><strong>Name: </strong><%= @constellation.name %></p>
    <p><strong>Image URL: </strong><%= @constellation.image_url %></p>
    <p><strong>Description: </strong><%= @constellation.description %></p>
    <p><strong>Light Years Away from Earth: </strong><%= @constellation.light_years_away_from_earth %></p>

<%= link_to 'Edit', edit_constellation_path(@constellation) %>
<%= link_to 'Delete', constellation_path(@constellation), method: :delete %>
<br>
<%= link_to 'Back', constellations_path %>