
<h1>All Stargazings</h1>
    <%@stargazings.each do |star|%>
    <p>Location:<%=star.location%></p>
    <p>Weather: <%=star.weather%></p>
    <p>Time: <%=star.time%></p>
<%end%>

<br><br>
<%=link_to 'Add Constellation', new_constellation_path%>
<%=link_to 'All Constellation', constellations_path%>

