
<%=link_to "Home", root_path%> |
<%=link_to "Astrophotographers", astrophotographers_path%>
<%=link_to "Constellations", constellations_path(@constellation)%> |
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%> 

<h1>Stargazing Lists</h1>
   <%@stargazings.each do |star|%>
   <p>
    <ul>
        <li><strong>Constellation Name: </strong><%=star.constellation%></li>
        <li><strong>Location: </strong><%=star.location%></li>
        <li><strong>Weather: </strong><%=star.weather%></li>
        <li><strong>Time: </strong><%=star.time%></li>
    </u>
     </p>
 <%end%>



