
<%=link_to "Home", root_path%> |
<%=link_to "Astrophotographers", astrophotographers_path%>
<%=link_to "Constellations", constellations_path(@constellation)%> |
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%> 


<h1>test</h1>
<h1>Stargazing Lists</h1>
   <%@stargazings.each do |star|%>
   <ul>
       <li><strong><%=link_to star.constellation.constellation_name%></strong></i>
        <li><%=star.location%></li>
        <li><%=star.weather%></li>
        <li><%=star.time%></li>
    </ul>
 <%end%>

