
<%= link_to "Home", root_path%> |

<%= link_to "Constellations", constellations_path(@constellation) %> |
<%= link_to "Add a Constellation", new_constellation_path(@constellation) %> 

<h1>Stargazing Lists</h1>
   <% @stargazings.each do |star| %>
        <p>
        <strong>Constellation Name: </strong><%= link_to star.constellation.constellation_name, constellation_stargazing_path(star.constellation, star) %>
        <br>
        <strong>Location: </strong><%=star.location%>
        <br>
        <strong>Weather: </strong><%=star.weather%>
        </p>
 <% end %>



