
<h1>New Stargazing for <%=@constellation.name%></h1>
<%=form_for([@contellation, @stargazing]) do |f|%>
        <%=f.label :location%>
        <%=f.text_field :location%>
        <%=f.label :weather%>
        <%=f.number_field :weather%>
        <%=f.label :time%>
        <%=f.time_field :time%>
        <%=f.submit%>
<%end%>
