
<%=link_to "Home", root_path%> |
<%=link_to "Astrophotographers", astrophotographers_path%>
<%=link_to "Constellations", constellations_path(@constellation)%> |
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%> 

<h1>New Stargazing</h1>
<%=form_for @stargazing do |f|%>
<%= f.collection_select(:constellation_id, Constellation.all, :id, :constellation_name) %>
    <%=f.label :location%>
    <%=f.text_field :location%>
<br><br>
    <%=f.label :weather%>
    <%=f.number_field :weather%>
<br><br>
    <%=f.label :time%>
    <%=f.time_field :time%>
    <%=f.submit%>

<%end%>

<!--
 Line 4 - creates the assoctiation with the constellation
 -->