<%=link_to "Home", root_path%> |
<%=link_to "Astrophotographers", astrophotographers_path%>
<%=link_to "Constellations", constellations_path(@constellation)%> |
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%> 
<h1>New Stargazing</h1>

<%=render partial: 'star', locals: {stargazing: @stargazing} %>

