
<h2><%=@constellation.name%></h2>
<%=form_for([@constellation, @stargazing]) do |f|%>
        <%=f.label :location%>
        <%=f.text_field :location%>
        <%=f.label :weather%>
        <%=f.number_field :weather%>
        <%=f.label :time%>
        <%=f.time_field :time%>
        <%=f.submit%>
<%end%>
