
<h1>Show Page</h1>
<%=@stargazing.constellation.constellation_name%>
<p>Location: <%=@stargazing.location%></p>
<p>Weather: <%= @stargazing.weather%></p>
<p>Time: <%= @stargazing.time%></p>
<%=link_to "Edit", edit_stargazing_path(@stargazing)%>
<%=link_to "Delete", stargazing_path(@stargazing), method: :delete%>


<%=link_to 'Add Stargazing', new_stargazing_path%>
<br>
<%=link_to 'All Constellations', constellations_path%>
<br>
<%=link_to 'Back to All stargazings', stargazings_path%>

