<h1>All Stargazings</h1>

<h1><%=@constellation.stargazings.name%></h1>
<p>Location:<%=@stargazings.location%></p>
<p>Weather: <%=@stargazings.weather%></p>
<p>Time: <%=@stargazings.time%></p>
<a href= "<%= stargazings_path(@stargazing)%>">More info</a>

