<div>
<%=link_to "Home", root_path%> |
<%=link_to "Constellations", constellations_path(@constellation)%> |
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%> |
<%=link_to "Astrophotographers", astrophotographers_path%> |
<%=link_to "Stargazings", stargazings_path(@stargazing)%>
</div>

<h2>All Stargazings</h2>
<p><strong>Location:</strong> <%=@stargazing.location%></p>
<p><strong>Weather:</strong> <%=@stargazing.weather%></p>
<p><strong>Time:</strong> <%=@stargazing.time%></p>

    <%=link_to "Edit", edit_stargazing_path(@stargazing)%> | <%=link_to "Delete", stargazing_path(@stargazing), method: :delete%> 

