<!--

<h1><%= @stargazing.constellations.constellation_name %></h1>
<p>Location: <%= @stargazing.location %></p>
<p>Weather: <%= @stargazing.weather %></p>
<p>Time: <%= @stargazing.time %></p>
<%= link_to constellation_path(@stargazing.constellation) %>

-->