
<h1>New Stargaze</h1>
<br>
<%=@stargazing.constellation.name %>
    <p>Location: <%=@stargazing.location%></p>
    <p>Weather: <%= @stargazing.weather%></p>
    <p>Time: <%= @stargazing.time%></p>
<%=link_to "Edit", edit_stargazing_path(@stargazing)%>


<%=link_to 'Add Constellation', new_stargazing_path%>
<%=link_to 'All Constellation', constellations_path%>
<%=link_to 'Back to All stargazings', stargazings_path%>
