<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
<style>
body {
    background: white;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 1000px; 
    min-height: 100%; 
    width: 100%;
}

h1 {
  color: navy;
  font-family: "midnightblue";
  font-size: 24px;
  }

.profile-img {
  height: 100px;
  width: 50 px
}

.errors {
color: navy;
font-family: "midnightblue";
font-size: 24px;

}

.welcome-image {
  bottom: 0;
  width: 100%;
  height: auto;
  display:inline-block;
  background-repeat: no-repeat;
  font-family: Georgia;
  text-align: left;
  padding: 10px 10px;
  margin: 10px;
}

.error {
  color: red;
}
.message {
  color: green;
}

.footer { 
  bottom: 0; 
  width: 100%; 
  height: auto; 
  color: SlateGray;
  margin: auto;
  font-family: Georgia;
  color: blue;
  
  }

</style>

  <% flash.each do |type, msg| %>
    <div class="message">
      <%= msg %>
    </div>
  <% end %>
    <%= render_navigation %>
   
    <%= yield %>


  </body>
</html>





