<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




<style> 

body {
  padding: 10px;
 
}


header {
  text-align: center;
  margin: 10px 10px;
  color: purple;
  font-family: 'Merriweather Sans', sans-serif;
  font-size:40px;
  text-align: left;
}

.form {
  padding: 10px;
  margin-right: 5px;
  display:inline-block;
  background-repeat: no-repeat;
  text-align: left;
}

h1 {
  color: purple;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
}

h2 {
  color: purple;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
}

.log-sign { 
  display: inline;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
  color: purple;
}

h3 {
   font-family: 'Merriweather Sans', sans-serif;
  color: purple;
}

p {
  text-indent: 30px;

}

.link {
 font-family: 'Merriweather Sans', sans-serif;
   color: purple;
}

a:link {
  display: inline;
  padding: 3px;
  font-size: 16px;
}

a:hover {
  color: purple;
}

ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}


.new {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
  color: purple;
	padding: 8px 15px 8px 15px;
	border: none;
  border-radius: 4px;
	margin-bottom: 10px;
}

.edit {
  font-family: 'Merriweather Sans', sans-serif;
  bottom: 0;
  width: 100%;
  height: auto;
  display:inline-block;
  background-repeat: no-repeat;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: left;
}

.message {
  color: #009933;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 22px;
}

.error {
  color: #ff3333;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 22px;
}


.img {
  bottom: 0;
  width: 100%;
  height: auto;
  display:inline-block;
  background-repeat: no-repeat;
  font-family: 'Merriweather Sans', sans-serif;s
  text-align: left;
}


</style> 

 
          <% if !flash[:error].blank? %>
             <div class="error">
                <%= flash[:error] %>
              </div>
            <% end %> 

          <% if !flash[:message].blank? %>
              <div class="message">
                <%= flash[:message] %>
              </div>
          <% end %>
  
    <%=render_navigation%>


    <%= yield %>



  </body>
</html>


