<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<style>
img {
 position: relative;
    width: 100%;
    height: auto%;
    background-size: cover;
    overflow: hidden;
    background-position: cover;
    min-height: 100px;
}

.img {
    color: blue;
}

</style>


    <%=render_navigation%>
    
<%= yield %>

  <div class="img" style="min-height: 300px;">
  <%= link_to image_tag('astro_1.jpg') %>
  </div>

  

  </body>
</html>